{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project detail
{% endblock %}

{% block content %}
    <main role="main">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md m-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-text">Project name: {{ projectlogo.project_name }}</h3>
                                <a class="btn btn-outline-primary disabled"
                                   style="width: 100px">{{ projectlogo.status }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md mx-4 mb-4">
                        <a class="btn btn-primary me-2" href="{% url 'detail-project-logo' projectlogo.id %}"
                           style="width: 150px">Overview</a>
                        <a class="btn btn-outline-primary me-2" href="{% url 'activity-project-logo' projectlogo.id %}"
                           style="width: 150px">Activity</a>
                        <a class="btn btn-outline-primary me-2" href="{% url 'files-project-logo' projectlogo.id %}"
                           style="width: 150px">Files</a>
                        <a class="btn btn-outline-primary" href="{% url 'payments-project-logo' projectlogo.id %}"
                           style="width: 150px">Payments</a>
                    </div>
                </div>
            </div>
            <div class="container mx-auto m-4">
                <div class="row">
                    <div class="col">
                        <div class="card" style="min-width: 200px">
                            {% if projectlogo.optional_project_image_1 %}
                                <img class="card-img"
                                     src="{{ projectlogo.optional_project_image_1.url }}"
                                     alt="Card image cap">
                            {% elif projectlogo.ready_logo %}
                                <img class="card-img"
                                     src="{{ projectlogo.ready_logo.logo_image_1.url }}"
                                     alt="Card image cap">
                            {% else %}
                                <img class="card-img"
                                     src="{% static 'images/CiprianM_Brand.png' %}"
                                     alt="Card image cap">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4" style="min-width: 200px">
                            <div class="card-header">
                                <h3 class="card-text">Project brief:</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Logo name: {{ projectlogo.logo_name }}</p>
                                {% if projectlogo.logo_slogan %}
                                    <p class="card-text">Logo slogan: {{ projectlogo.logo_slogan }}</p>
                                {% endif %}
                                {% if projectlogo.company_description %}
                                    <p class="card-text">Company description: {{ projectlogo.company_description }}</p>
                                {% endif %}
                                {% if projectlogo.company_industry %}
                                    <p class="card-text">Company industry: {{ projectlogo.company_industry }}</p>
                                {% endif %}
                                {% if projectlogo.logo_colors %}
                                    <p class="card-text">Logo colors: {{ projectlogo.logo_colors }}</p>
                                {% endif %}
                                <p class="card-text">Project description: {{ projectlogo.project_description }}</p>
                                {% if projectlogo.service_name %}
                                    <p class="card-text">Service: {{ projectlogo.service_name }}</p>
                                {% endif %}
                                {% if projectlogo.ready_logo %}
                                    <p class="card-text">Starting logo: {{ projectlogo.ready_logo }}</p>
                                {% endif %}
                                {% if user.is_superuser %}
                                    {% if projectlogo.client_name %}
                                        <p class="card-text">Client name: {{ projectlogo.client_name }}</p>
                                    {% endif %}
                                {% endif %}
                                {% if projectlogo.other_notes %}
                                    <p class="card-text">Other notes: {{ projectlogo.other_notes }}</p>
                                {% endif %}
                                <div class="text">
                                    <p class="text">Style Attributes:</p>
                                </div>
                                <label for="customRange" class="form-label"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Classic designs inspire a sense of elegance, fine craftsmanship
                                           and timelessness with an aesthetic that has proven itself over the years.">
                                    Classic</label>
                                <label for="customRange" class="form-label float-end"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Modern designs are what's cool today. It shows that your
                                           brand is current with contemporary design.">
                                    Modern</label>
                                <input type="range" class="form-range" min="-100" max="100"
                                       value="{{ projectlogo.classic_or_modern }}" id="customRange"
                                       style="pointer-events: none;">
                                <label for="customRange" class="form-label"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Mature designs uphold an image of enduring reliability and
                                           resilience. For brands that are looking for long term relationships.">
                                    Mature</label>
                                <label for="customRange" class="form-label float-end"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Youth designs inspire energy in people and bring optimism
                                           to life. For brands full of hope that generate a sense of excitement.">
                                    Youthful</label>
                                <input type="range" class="form-range" min="-100" max="100"
                                       value="{{ projectlogo.mature_or_youthful }}" id="customRange"
                                       style="pointer-events: none;">
                                <label for="customRange" class="form-label"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Feminine designs have a sense of calm and use gentle,
                                           graceful styles, paired with soft color palettes. For brands that exert
                                           feelings of refinement and modesty.">
                                    Feminine</label>
                                <label for="customRange" class="form-label float-end"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Masculine designs have a sense of utility, and often use
                                           dark colors. For brands that promote leadership and look into the future.">
                                    Masculine</label>
                                <input type="range" class="form-range" min="-100" max="100"
                                       value="{{ projectlogo.feminine_or_masculine }}" id="customRange"
                                       style="pointer-events: none;">
                                <label for="customRange" class="form-label"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Playful designs show life is all about fun! For brands that
                                           convey optimism and have bright spirits.">
                                    Playful</label>
                                <label for="customRange" class="form-label float-end"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Sophisticated designs convey intelligence and have simple
                                           and elegant lines. For brands that show an obsession with perfection.">
                                    Sophisticated</label>
                                <input type="range" class="form-range" min="-100" max="100"
                                       value="{{ projectlogo.playful_or_sophisticated }}" id="customRange"
                                       style="pointer-events: none;">
                                <label for="customRange" class="form-label"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Economical designs are casual, unprecious, open and
                                           friendly. For brands that save people time or money.">
                                    Economical</label>
                                <label for="customRange" class="form-label float-end"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Luxurious designs indicate extravagance and quality for
                                           affluent clients. For brands that have clients with high expectations.">
                                    Luxurious</label>
                                <input type="range" class="form-range" min="-100" max="100"
                                       value="{{ projectlogo.economical_or_luxurious }}" id="customRange"
                                       style="pointer-events: none;">
                                <label for="customRange" class="form-label"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Geometric designs follow the rules of mathematics. For
                                           brands that wish to project accuracy, precision and order.">
                                    Geometric</label>
                                <label for="customRange" class="form-label float-end"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Organic designs have flowing lines, smooth edges and often
                                           deliberate imperfection. For brands that represent growth, change and
                                           connection with people.">
                                    Organic</label>
                                <input type="range" class="form-range" min="-100" max="100"
                                       value="{{ projectlogo.geometric_or_organic }}" id="customRange"
                                       style="pointer-events: none;">
                                <label for="customRange" class="form-label"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Abstract designs are for brands with complex and diverse
                                           products and services.">
                                    Abstract</label>
                                <label for="customRange" class="form-label float-end"
                                       tabindex="0" data-bs-placement="top"
                                       data-bs-toggle="popover" data-bs-trigger="hover focus"
                                       data-bs-custom-class="custom-popover"
                                       data-bs-content="Literal designs communicate directly to people what brands
                                           are offering and are super effective at getting their attention.">
                                    Literal</label>
                                <input type="range" class="form-range" min="-100" max="100"
                                       value="{{ projectlogo.abstract_or_literal }}" id="customRange"
                                       style="pointer-events: none;">
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-primary float-start" href="{% url 'projects' %}"
                                   role="button" style="width: 150px">Go back</a>
                                {% if user.is_superuser %}
                                    <a class="btn btn-outline-primary float-end"
                                       href="{% url 'update-project-logo' projectlogo.id %}" style="width: 150px">Edit
                                        project</a>
                                {% else %}
                                    <a class="btn btn-outline-primary float-end"
                                       href="{% url 'update-project-client' projectlogo.id %}" style="width: 150px">Edit
                                        project</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if user.is_superuser %}
                            <div class="card border border-0">
                                <div class="col">
                                    <a class="btn btn-outline-primary me-2" href="#" style="width: 150px">Create a
                                        quote</a>
                                    <a class="btn btn-outline-primary me-2" href="#" style="width: 150px">Send a
                                        message</a>
                                </div>
                            </div>
                        {% else %}
                            <a class="btn btn-outline-primary me-2" href="#" style="width: 150px">Send a message</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}