{% extends 'base.html' %}
{% load static %}

{% block title %}
    Projects
{% endblock %}

{% block content %}
    <main role="main">
        <!-- Services section -->
        <section>
            <div class="container-fluid">
                <div class="row m-4 p-4">
                    <div class="col mx-auto">
                        <h1 class="text-center">PROJECTS</h1>
                        <p class="text-center">Welcome to projects, where you can view, create and manage your
                            awesome projects.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid pb-5 d-flex justify-content-center">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 200px">
                            <a class="btn btn-outline-primary px-2" href="{% url 'create-project-logo' %}">
                                Start a new project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-md-2 ms-2 my-2">
                        <div class="card mb-4" style="min-width: 140px">
                            <div class="card-header text-center bg-secondary bg-opacity-50 border border-0">
                                <h3 class="card-text">Your projects</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <a class="text-dark" href="{% url 'projects' %}"
                                       style="text-decoration: none">All projects ({{ all_projects|length }})</a>
                                </p>
                                <p class="card-text">
                                    <a class="text-dark" href="{% url 'projects' %}?status=Draft"
                                       style="text-decoration: none">Drafts ({{ all_projects|length }})</a></p>
                                <p class="card-text">
                                    <a class="text-dark" href="{% url 'projects' %}?status=Invited"
                                       style="text-decoration: none">Invited ({{ all_projects|length }})</a></p>
                                <p class="card-text">
                                    <a class="text-dark" href="{% url 'projects' %}?status=Started"
                                       style="text-decoration: none">Started ({{ all_projects|length }})</a></p>
                                <p class="card-text">
                                    <a class="text-dark" href="{% url 'projects' %}?status=Completed"
                                       style="text-decoration: none">Completed ({{ all_projects|length }})</a></p>
                                <p class="card-text">
                                    <a class="text-dark" href="{% url 'projects' %}?status=Canceled"
                                       style="text-decoration: none">Canceled ({{ all_projects|length }})</a></p>
                            </div>
                        </div>
                        {% if user.is_superuser %}
                            <div class="card" style="min-width: 140px">
                                <div class="card-header text-center bg-secondary bg-opacity-50 border border-0">
                                    <h3 class="card-text">Filter projects</h3>
                                </div>
                                <form method="get">
                                    <div class="card-body">
                                        {{ my_filter.form.as_p }}
                                    </div>
                                    <div class="card-footer">
                                        <a href="{% url 'projects' %}" class="btn btn-outline-primary"
                                           style="width: 100px">Reset</a>
                                        <button type="submit" class="btn btn-outline-primary float-end"
                                                style="width: 100px">Search
                                        </button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md me-2 my-2">
                        {% for project_logo in all_projects %}
                            {% if project_logo.project_name %}
                                <div class="card mb-4" style="min-width: 140px">
                                    <div class="card-header text-center bg-secondary bg-opacity-50 border border-0">
                                        <h3 class="card-text">{{ project_logo.project_name }}</h3>
                                    </div>
                                    <div class="card-body overflow-hidden">
                                        <div class="row">
                                            <div class="col-md-2 m-2" style="min-width: 140px;min-height: 140px">
                                                <div class="card">
                                                    <a href="{% url 'detail-project-logo' project_logo.id %}">
                                                        {% if project_logo.optional_project_image_1 %}
                                                            <img class="card-img"
                                                                 src="{{ project_logo.optional_project_image_1.url }}"
                                                                 alt="Card image cap">
                                                        {% elif project_logo.ready_logo %}
                                                            <img class="card-img"
                                                                 src="{{ project_logo.ready_logo.logo_image_1.url }}"
                                                                 alt="Card image cap">
                                                        {% else %}
                                                            <img class="card-img"
                                                                 src="{% static 'images/CiprianM_Brand.png' %}"
                                                                 alt="Card image cap">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md m-2">
                                                <p class="card-text">Logo name: {{ project_logo.logo_name }}.</p>
                                                <p class="card-text">Project
                                                    description: {{ project_logo.project_description }}</p>
                                                {% if project_logo.service_name %}
                                                    <p class="card-text">Service: {{ project_logo.service_name }}</p>
                                                {% endif %}
                                                {% if project_logo.ready_logo %}
                                                    <p class="card-text">Starting
                                                        logo: {{ project_logo.ready_logo }}</p>
                                                {% endif %}
                                                {% if user.is_superuser %}
                                                    {% if project_logo.client_name %}
                                                        <p class="card-text">Client
                                                            name: {{ project_logo.client_name }}</p>
                                                    {% endif %}
                                                {% endif %}
                                                <a class="btn btn-outline-primary disabled"
                                                   style="width: 100px">{{ project_logo.status }}</a>
                                            </div>
                                            <div class="col-md-2 m-2" style="min-width: 140px;min-height: 140px">
                                                <div class="dropdown float-end">
                                                    <button type="button"
                                                            class="btn btn-outline-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown" style="width: 150px">Actions
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{% url 'detail-project-logo' project_logo.id %}"
                                                               class="dropdown-item">Overview</a></li>
                                                        <li><a href="{% url 'activity-project-logo' project_logo.id %}"
                                                               class="dropdown-item">Activity</a></li>
                                                        <li><a href="{% url 'update-project-logo' project_logo.id %}"
                                                               class="dropdown-item">Edit project</a></li>
                                                        <li>
                                                            <button type="button" class="dropdown-item"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#projectlogo_{{ project_logo.id }}">
                                                                Delete project
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- dropdown delete modal section -->
                                                <div class="modal fade" id="projectlogo_{{ project_logo.id }}"
                                                     tabindex="-1"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header text-center">
                                                                <h5 class="modal-title col-md-6 offset-md-3"
                                                                    id="exampleModalLabel">
                                                                    Delete</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body text-center">
                                                                Are you sure you want to delete
                                                                project: {{ project_logo.project_name }}?
                                                            </div>
                                                            <div class="row modal-footer">
                                                                <div class="col">
                                                                    <span class="float-start">
                                                                        <button type="button"
                                                                                class="btn btn-outline-primary"
                                                                                data-bs-dismiss="modal"
                                                                                style="width: 100px">No</button>
                                                                    </span>
                                                                </div>
                                                                <div class="col">
                                                                    <span class="float-end">
                                                                        <a href="{% url "delete-project-logo-modal" project_logo.id %}"
                                                                           class="btn btn-outline-danger"
                                                                           style="width: 100px">Yes</a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card mb-4" style="min-width: 140px">
                                    <div class="card-header text-center">
                                        <h3 class="card-text">No projects found</h3>
                                    </div>
                                    <div class="card-body">
                                        <p class="text">Hit the start project button to start your awesome project.</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
