{% extends 'base.html' %}

{% block title %}
    Update a project
{% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 my-4 was-validated">
                    <div class="card mb-2 shadow">
                        <div class="card-header">
                            <h3 class="text-center">Update project</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="myCheck" name="remember"
                                           required>
                                    <label class="form-check-label" for="myCheck" data-bs-toggle="offcanvas"
                                           data-bs-target="#customcanvas">Terms and conditions.</label>
                                    <div class="valid-feedback">Thank you!</div>
                                    <div class="invalid-feedback">Please read terms and conditions!</div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-primary" style="width: 100px"
                                   href="{% url 'detail-project' projectlogo.id %}">Cancel</a>
                                <button type="submit" class="btn btn-outline-primary float-end"
                                        style="width: 100px">Save
                                </button>
                            </div>
                        </form>
                        <!-- off canvas -->
                        <div class="offcanvas offcanvas-start" id="customcanvas">
                            <div class="offcanvas-header text-center">
                                <h1 class="offcanvas-title">Terms and conditions</h1>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                            </div>
                            <div class="offcanvas-body">
                                <p>I retain the right to reproduce, publish and display results in my portfolio
                                    website and other media or exhibitions for the purpose of recognizing creative
                                    excellence or professional advancement.</p>
                                <p>All project entitlements will be transfered to the customer upon completion and
                                    project payment.</p>
                                <p>The client agrees that in the event that a project is canceled for any reason other
                                    than a violation of the terms established by the designer, no refund will be issued
                                    and no rights will be transferred.</p>
                                <p>If the customer chooses to receive more than one option as a final project, they will
                                    be charged extra for each new option selected. The amount for each new option will
                                    be discussed together.</p>
                                <p>All projects presented that are not selected as final design can be used by the
                                    designer as he wishes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}