{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home page
{% endblock %}

{% block content %}
    <main role="main">
        <!-- Carousel section -->
        <section>
            <!-- The slideshow/carousel -->
            <div id="carouselInterval" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="0"
                            class="active"></button>
                    <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="2"></button>
                </div>
                <!-- Carousel inner -->
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="{% static 'images/Carousel_Cip_1_1.png' %}" alt="Slide 1" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="{% static 'images/Carousel_Cip_1_2.png' %}" alt="Slide 2" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static 'images/Carousel_Cip_1_3.png' %}" alt="Slide 3" class="d-block w-100">
                    </div>
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselInterval"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselInterval"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        <!-- Recent work section -->
        <section>
            <div class="container-fluid">
                <div class="row mt-4 p-4">
                    <div class="col mx-auto">
                        <h1 class="text-center">RECENT WORK</h1>
                        <p class="text-center">Glimpse of awesome designs I created.
                            Prepare to be amazed, then hit the button below to view more.</p>
                    </div>
                </div>
            </div>
            <div class="container py-4">
                <div class="row gy-4">
                    <div class="col-md-3">
                        <div class="card mb-3 shadow" data-mdb-ripple-color="light">
                            <a href="{% url 'portfolio' %}">
                                <img class="card-img-top"
                                     src="{% static "images/Recent work/Allebone_1.png" %}"
                                     alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <p class="card-text text-center">ALLEBONE</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-3 shadow">
                            <a href="{% url 'portfolio' %}">
                                <img class="card-img-top"
                                     src="{% static "images/Recent work/Ankylo_1.png" %}"
                                     alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <p class="card-text text-center">ANKYLO TOOLS</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-3 shadow">
                            <a href="{% url 'portfolio' %}">
                                <img class="card-img-top"
                                     src="{% static "images/Recent work/MG_Capital_1.png" %}"
                                     alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <p class="card-text text-center">MG CAPITAL</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-3 shadow">
                            <a href="{% url 'portfolio' %}">
                                <img class="card-img-top"
                                     src="{% static "images/Recent work/vuldb_1.png" %}"
                                     alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <p class="card-text text-center">VULDB</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-4 bg-primary">
                <div class="row text-center">
                    <div class="col-md-6 offset-md-3">
                        <a href="{% url 'portfolio' %}" class="btn btn-outline-light" style="width: 150px">
                            View all</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section -->
        <section>
            <div class="container-fluid">
                <div class="row mt-4 p-4">
                    <div class="col mx-auto">
                        <h1 class="text-center">SERVICES</h1>
                        <p class="text-center">I provide you various creative options to make the design and layout
                            exactly the way you want.</p>
                    </div>
                </div>
            </div>
            <div class="container py-4">
                <div class="row gy-4">
                    <div class="col-md-3">
                        <div class="d-inline-block" tabindex="0" data-bs-placement="top"
                             data-bs-toggle="popover" data-bs-trigger="hover focus"
                             data-bs-custom-class="custom-popover"
                             data-bs-content="My top expertise. I create awesome logos that will connect, inform and inspire across all sectors.">
                            <div class="card mb-3 shadow">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'services' %}">
                                        <img class="card-img-top"
                                             src="{% static "images/Recent work/Athena_1.png" %}"
                                             alt="Card image cap"></a>
                                {% else %}
                                    <a href="{% url 'login' %}">
                                        <img class="card-img-top"
                                             src="{% static "images/Recent work/Athena_1.png" %}"
                                             alt="Card image cap"></a>
                                {% endif %}
                                <div class="card-body">
                                    <p class="card-text text-center">LOGO DESIGN</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-inline-block" tabindex="0" data-bs-placement="top"
                             data-bs-toggle="popover" data-bs-trigger="hover focus"
                             data-bs-custom-class="custom-popover"
                             data-bs-content="Showcase your awesome logo with a flawless stationery design.">
                            <div class="card mb-3 shadow">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'services' %}">
                                        <img class="card-img-top"
                                             src="{% static "images/Recent work/Cargostore_1.png" %}"
                                             alt="Card image cap"></a>
                                {% else %}
                                    <a href="{% url 'login' %}">
                                        <img class="card-img-top"
                                             src="{% static "images/Recent work/Cargostore_1.png" %}"
                                             alt="Card image cap"></a>
                                {% endif %}
                                <div class="card-body">
                                    <p class="card-text text-center">STATIONERY DESIGN</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-inline-block" tabindex="0" data-bs-placement="top"
                             data-bs-toggle="popover" data-bs-trigger="hover focus"
                             data-bs-custom-class="custom-popover"
                             data-bs-content="I will integrate the design across every aspect of your business to help it grow and thrive.">
                            <div class="card mb-3 shadow">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'services' %}">
                                        <img class="card-img-top"
                                             src="{% static "images/Recent work/Hash_1.png" %}"
                                             alt="Card image cap"></a>
                                {% else %}
                                    <a href="{% url 'login' %}">
                                        <img class="card-img-top"
                                             src="{% static "images/Recent work/Hash_1.png" %}"
                                             alt="Card image cap"></a>
                                {% endif %}
                                <div class="card-body">
                                    <p class="card-text text-center">BRANDING DESIGN</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-inline-block" tabindex="0" data-bs-placement="top"
                             data-bs-toggle="popover" data-bs-trigger="hover focus"
                             data-bs-custom-class="custom-popover"
                             data-bs-content="Follow me and stay up to date for special deals and customisable ready made logos.">
                            <div class="card mb-3 shadow">
                                <a href="{% url 'ready-made' %}">
                                    <img class="card-img-top"
                                         src="{% static "images/Recent work/Aeostra_1.png" %}"
                                         alt="Card image cap"></a>
                                <div class="card-body">
                                    <p class="card-text text-center">READY MADE</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-4">
                <div class="row text-center">
                    <div class="col-md-6 offset-md-3">
                        {% if user.is_authenticated %}
                            <a href="{% url 'services' %}" class="btn btn-outline-primary" style="width: 150px">
                                View all</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn btn-outline-primary" style="width: 150px">
                                View all</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer section -->
        <section>
            <div class="container-fluid bg-primary mb-2">
                <div class="row p-4">
                    <div class="col mx-auto text-center text-white align-middle">
                        <a>If you've got a project in mind, I can help you get on the right path to get
                            started. </a>
                        <a class="btn btn-outline-light ms-4" href="{% url 'contact' %}" style="width: 150px">
                            Request quote</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-dark">
                <div class="row p-4">
                    <div class="col mx-auto text-center text-white">
                        <p>info@ciprianm.com </p>
                        <p>Copyright © 2022 CiprianM. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
