{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto gy-4 mt-5 was-validated">
                    <div class="card shadow">
                        <div class="card-header text-center">
                            <h3>Login</h3>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-outline-primary" style="width: 150px">Login
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="text pt-4 mb-4">
                        <span>Don't have an account?</span>
                        <span><a href="{% url 'create-user' %}" style="text-decoration: none">Sign up</a></span>
                        <span class="float-end"><a href="{% url 'password_reset' %}" style="text-decoration: none">
                            Forgot password?</a></span>
                    </div>
                    <div class="card mb-3 shadow">
                        <div class="card-body text-center">
                            <a href="{% url 'social:begin' 'github' %}" style="text-decoration: none">Login with
                                GitHub</a>
                        </div>
                    </div>
                    <div class="card mb-3 shadow">
                        <div class="card-body text-center">
                            <a href="{% url 'social:begin' 'facebook' %}" style="text-decoration: none">Login with
                                Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}