{% extends 'base.html' %}
{% load static %}

{% block title %}
    Create ready made logo
{% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 my-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">Create a new logo</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-primary" style="width: 150px"
                                   href="{% url 'ready-made' %}">Cancel</a>
                                <button type="submit" class="btn btn-outline-primary float-end" style="width: 150px">
                                    Create logo
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}