{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project payments
{% endblock %}

{% block content %}
    <main role="main">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md m-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-text">Project name: {{ projectlogo.project_name }}</h3>
                                <a class="btn btn-outline-primary"
                                   style="width: 100px; pointer-events: none;">{{ projectlogo.status }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md mx-4 mb-4">
                        <a class="btn btn-outline-primary me-2 my-1"
                           href="{% url 'detail-project-logo' projectlogo.id %}"
                           style="width: 150px">Overview</a>
                        <a class="btn btn-outline-primary me-2 my-1"
                           href="{% url 'activity-project-logo' projectlogo.id %}"
                           style="width: 150px">Activity</a>
                        <a class="btn btn-outline-primary me-2 my-1"
                           href="{% url 'files-project-logo' projectlogo.id %}"
                           style="width: 150px">Files</a>
                        <a class="btn btn-primary my-1" href="{% url 'payments-project-logo' projectlogo.id %}"
                           style="width: 150px">Payments</a>
                    </div>
                </div>
            </div>
            {% if user.is_superuser %}
                <div class="container-fluid pb-5 d-flex justify-content-center">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 200px">
                                <a class="btn btn-outline-primary px-2"
                                   href="{% url 'create-project-logo-payment' projectlogo.id %}">Create a qoute</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="container">
                <div class="row gy-4">
                    {% if payments %}
                        {% for payment in payments %}
                            <div class="col-md-12">
                                <div class="card mb-3 shadow" style="min-width: 150px">
                                    <div class="card-header">
                                        <h3 class="card-text">{{ payment.project.project_name }} -
                                            Price: {{ payment.price }}$</h3>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Please pay before viewing the files.</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="card mb-4" style="min-width: 140px">
                            <div class="card-header text-center border border-0">
                                <h3 class="card-text">No payments found</h3>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}