{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project activity
{% endblock %}

{% block content %}
    <main role="main">
        <!-- Hooder section -->
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md m-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <h3 class="card-text">Project name: {{ projectlogo.project_name }}</h3>
                                <a class="btn btn-outline-primary"
                                   style="width: 150px; pointer-events: none;">{{ projectlogo.status }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md mx-4 mb-4">
                        <a class="btn btn-outline-primary me-2 my-1"
                           href="{% url 'detail-project' projectlogo.id %}"
                           style="width: 150px">Overview</a>
                        <a class="btn btn-primary me-2 my-1" href="{% url 'project-activity' projectlogo.id %}"
                           style="width: 150px">Activity</a>
                        <a class="btn btn-outline-primary me-2 my-1"
                           href="{% url 'project-files' projectlogo.id %}"
                           style="width: 150px">Files</a>
                        <a class="btn btn-outline-primary my-1" href="{% url 'project-payments' projectlogo.id %}"
                           style="width: 150px">Payments</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Main section -->
        <section>
            <div class="container-fluid pb-1 d-flex justify-content-center">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 150px">
                            <a href="{% url 'create-project-message' projectlogo.id %}"
                               class="btn btn-outline-primary float-end">Send a message</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row m-4">
                    <div class="col-md-6 float-start">
                        <div class="card mb-4 shadow">
                            <div class="card-header border border-0">
                                <h3 class="card-text text-center">Activities</h3>
                            </div>
                        </div>
                        {% if activities %}
                            {% for activity in activities %}
                                <div class="card mb-4 shadow">
                                    <div class="card-header border border-0">
                                        <span class="card-text float-start">{{ activity.message }}.</span>
                                        <span class="card-text float-end">By {{ activity.owner.first_name }} on {{ activity.date_added }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="card mb-4 shadow" style="min-width: 140px">
                                <div class="card-header text-center border border-0">
                                    <h3 class="card-text">No activity found</h3>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 float-end">
                        <div class="card mb-4 shadow">
                            <div class="card-header border border-0">
                                <h3 class="card-text text-center">Messages</h3>
                            </div>
                        </div>
                        {% if messages %}
                            {% for proj_message in messages %}
                                <div class="card mb-4 shadow">
                                    <div class="card-header">
                                        <span class="card-text float-start">{{ proj_message.title }}</span>
                                        <span class="card-text float-end">By {{ proj_message.owner.first_name }} on {{ proj_message.date_added }}</span>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ proj_message.message }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="card mb-4 shadow" style="min-width: 140px">
                                <div class="card-header text-center border border-0">
                                    <h3 class="card-text">No messages found</h3>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}