{% extends 'base.html' %}

{% block title %}
    Update logo
{% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 my-4 was-validated">
                    <div class="card mb-2 shadow">
                        <div class="card-header">
                            <h3 class="text-center">Update logo</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-primary" style="width: 100px"
                                   href="{% url 'detail-portfolio-logo' portfoliologo.id %}">Cancel</a>
                                <button type="submit" class="btn btn-outline-primary float-end" style="width: 100px">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}