.custom-popover {
    /*--bs-popover-max-width: 300px;*/
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
    text-align: center;
}

