{% extends 'base.html' %}

{% block title %}
    Delete service
{% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 my-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">Delete service</h3>
                        </div>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body text-center">
                            Are you sure you want to delete {{ servicelogo.service_name }}?
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-outline-primary" href="{% url 'services' %}">No</a>
                            <button type="submit" class="btn btn-outline-primary">Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}