{% extends 'base.html' %}

{% block title %}
    User details
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row m-4 p-4">
                <div class="col mx-auto">
                    <h1 class="text-center">Welcome {{ userextend.first_name }}</h1>
                </div>
            </div>
        </div>
        <a href="{% url 'update-user' userextend.id %}"
           class="dropdown-item">Update</a>
    </section>
{% endblock %}