{% extends 'base.html' %}
{% load static %}

{% block title %}
    User details
{% endblock %}

{% block content %}
    <main role="main">
        <section>
            <div class="container-fluid">
                <div class="row m-4 p-4">
                    <div class="col mx-auto">
                        <h1 class="text-center">Welcome {{ userextend.first_name }}</h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-md gy-4">
                        <div class="card shadow">
                            <div class="card-body overflow-hidden">
                                <div class="row ">
                                    <div class="col-2 m-2 gx-1" style="min-width: 140px">
                                        {% if userextend.userprofile.profile_image %}
                                            <img class="card-img" src="{{ userextend.userprofile.profile_image.url }}"
                                                 alt="Card image cap" style="min-height: 138px; min-width: 138px">
                                        {% else %}
                                            <img class="card-img" src="{% static 'media/profiles/CiprianM.png' %}"
                                                 alt="Card image cap" style="min-height: 138px; min-width: 138px">
                                        {% endif %}
                                    </div>
                                    <div class="col m-2 gx-1">
                                        <p class="card-text">
                                            Name: {{ userextend.first_name }} {{ userextend.last_name }}</p>
                                        {% if userextend.userprofile.company %}
                                            <p class="card-text">Company: {{ userextend.userprofile.company }}.</p>
                                        {% endif %}
                                        {% if userextend.userprofile.bio %}
                                            <p class="card-text">Bio: {{ userextend.userprofile.bio }}</p>
                                        {% endif %}
                                    </div>
                                    {% if user.is_authenticated %}
                                        <div class="col-md-2 mx-auto">
                                            <a href="{% url 'update-user' userextend.id %}"
                                               class="btn btn-outline-primary float-end mb-3" style="width: 200px">Edit
                                                profile</a>
                                            <a href="{% url 'update-user-bio' userextend.userprofile.id %}"
                                               class="btn btn-outline-primary float-end mb-3" style="width: 200px">Edit
                                                bio</a>
                                            <a href="{% url 'password_change' %}"
                                               class="btn btn-outline-primary float-end" style="width: 200px">Change
                                                password</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}