{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project detail
{% endblock %}

{% block content %}
    <main role="main">
        <section>
            <div class="container mx-auto m-4">
                <div class="row">
                    <div class="col">
                        <div class="card" style="min-width: 200px">
                            <img class="card-img"
                                 src="{{ projectfile.project_file.url }}"
                                 alt="Card image cap">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4" style="min-width: 200px">
                            <div class="card-header">
                                <h3 class="card-text">File info: {{ projectfile.title }}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">File description: {{ projectfile.file_description }}</p>
                                <p class="card-text">Status: {{ projectfile.status }}</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-primary float-start"
                                   href="{% url 'files-project-logo' projectfile.project_id %}"
                                   role="button" style="width: 150px">Go back</a>
                                {% if user.is_superuser %}
                                    <a href="{% url 'update-files-project-logo' projectfile.id %}"
                                       class="btn btn-outline-primary float-end" style="width: 150px">Edit file</a>
                                {% else %}
                                    <a href="{% url 'client-files-project-logo' projectfile.id %}"
                                       class="btn btn-outline-primary float-end" style="width: 150px">Edit status</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if comments %}
                            {% for file_comment in comments %}
                                <div class="card mb-4">
                                    <div class="card-header border border-0">
                                        <span class="card-text float-start">{{ file_comment.comment }}</span>
                                        <span class="card-text float-end">Added: {{ file_comment.date_added }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="card mb-4" style="min-width: 140px">
                                <div class="card-header text-center border border-0">
                                    <h3 class="card-text">No comments found</h3>
                                </div>
                            </div>
                        {% endif %}
                        <a href="{% url 'create-files-project-logo-comment' projectfile.id %}"
                                       class="btn btn-outline-primary float-end" style="width: 150px">Add a comment</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}