{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project files
{% endblock %}

{% block content %}
    <main role="main">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md m-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-text">Project name: {{ projectlogo.project_name }}</h3>
                                <a class="btn btn-outline-primary"
                                   style="width: 100px; pointer-events: none;">{{ projectlogo.status }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md mx-4 mb-4">
                        <a class="btn btn-outline-primary me-2" href="{% url 'detail-project-logo' projectlogo.id %}"
                           style="width: 150px">Overview</a>
                        <a class="btn btn-outline-primary me-2" href="{% url 'activity-project-logo' projectlogo.id %}"
                           style="width: 150px">Activity</a>
                        <a class="btn btn-primary me-2" href="{% url 'files-project-logo' projectlogo.id %}"
                           style="width: 150px">Files</a>
                        <a class="btn btn-outline-primary" href="{% url 'payments-project-logo' projectlogo.id %}"
                           style="width: 150px">Payments</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            {% if user.is_superuser %}
                <div class="container-fluid pb-5 d-flex justify-content-center">
                    <div class="row">
                        <div class="col">
                            <div class="card" style="width: 200px">
                                <a class="btn btn-outline-primary px-2"
                                   href="{% url 'create-files-project-logo' %}">Add a file</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-md-2 ms-2 my-2">
                        <div class="card mb-4" style="min-width: 140px">
                            <div class="card-header text-center bg-secondary bg-opacity-50 border border-0">
                                <h3 class="card-text">Project files</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <a class="text-dark" href="{% url 'files-project-logo' projectlogo.id %}"
                                       style="text-decoration: none">All files ({{ count_all }})</a>
                                </p>
                                <p class="card-text">
                                    <a class="text-dark"
                                       href="{% url 'files-project-logo' projectlogo.id %}?status=Reference"
                                       style="text-decoration: none">Reference ({{ count_reference }})</a></p>
                                <p class="card-text">
                                    <a class="text-dark"
                                       href="{% url 'files-project-logo' projectlogo.id %}?status=In%20progress"
                                       style="text-decoration: none">In progress ({{ count_in_progress }})</a></p>
                                <p class="card-text">
                                    <a class="text-dark"
                                       href="{% url 'files-project-logo' projectlogo.id %}?status=Declined"
                                       style="text-decoration: none">Declined ({{ count_declined }})</a></p>
                                <p class="card-text">
                                    <a class="text-dark"
                                       href="{% url 'files-project-logo' projectlogo.id %}?status=Final"
                                       style="text-decoration: none">Final ({{ count_final }})</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md me-2 my-2">
                        <div class="row gy-4">
                            {% if files %}
                                {% for project_logo_file in files %}
                                    <div class="col-md-2">
                                        <div class="card mb-3 shadow" style="min-width: 150px">
                                            <a href="{% url 'detail-files-project-logo' project_logo_file.id %}">
                                                <img class="card-img-top"
                                                     src="{{ project_logo_file.project_file.url }}"
                                                     alt="Card image cap"></a>
                                            <div class="card-footer">
                                                <span class="card-text">{{ project_logo_file.status }}</span>
                                                <div class="dropdown float-end">
                                                    <button class="btn btn-outline-primary dropdown-toggle"
                                                            type="button" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="{% url 'client-files-project-logo' project_logo_file.id %}"
                                                               class="dropdown-item">Change status</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="card mb-4" style="min-width: 140px">
                                    <div class="card-header text-center border border-0">
                                        <h3 class="card-text">No files found</h3>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}