{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project files
{% endblock %}

{% block content %}
    <main role="main">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md m-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-text">Project name: {{ projectlogo.project_name }}</h3>
                                <a class="btn btn-outline-primary"
                                   style="width: 100px; pointer-events: none;">{{ projectlogo.status }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md mx-4 mb-4">
                        <a class="btn btn-outline-primary me-2 my-1"
                           href="{% url 'detail-project-logo' projectlogo.id %}"
                           style="width: 150px">Overview</a>
                        <a class="btn btn-outline-primary me-2 my-1"
                           href="{% url 'activity-project-logo' projectlogo.id %}"
                           style="width: 150px">Activity</a>
                        <a class="btn btn-primary me-2 my-1" href="{% url 'files-project-logo' projectlogo.id %}"
                           style="width: 150px">Files</a>
                        <a class="btn btn-outline-primary my-1" href="{% url 'payments-project-logo' projectlogo.id %}"
                           style="width: 150px">Payments</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid pb-4 d-flex justify-content-center">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 150px">
                            {% if user.is_superuser %}
                                <a class="btn btn-outline-primary px-2"
                                   href="{% url 'create-project-logo-files' projectlogo.id %}">Add a file</a>
                            {% else %}
                                <a class="btn btn-outline-primary px-2"
                                   href="{% url 'create-project-logo-files-c' projectlogo.id %}">Add a file</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-md-2 ms-2 my-2">
                        <div class="card mb-4" style="min-width: 140px">
                            <div class="card-header text-center bg-secondary bg-opacity-50 border border-0">
                                <h3 class="card-text">Project files</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <a class="text-dark" href="{% url 'files-project-logo' projectlogo.id %}"
                                       style="text-decoration: none">All files ({{ count_all }})</a>
                                </p>
                                <p class="card-text">
                                    <a class="text-dark"
                                       href="{% url 'files-project-logo' projectlogo.id %}?status=Reference"
                                       style="text-decoration: none">Reference ({{ count_reference }})</a></p>
                                <p class="card-text">
                                    <a class="text-dark"
                                       href="{% url 'files-project-logo' projectlogo.id %}?status=In%20progress"
                                       style="text-decoration: none">In progress ({{ count_in_progress }})</a></p>
                                <p class="card-text">
                                    <a class="text-dark"
                                       href="{% url 'files-project-logo' projectlogo.id %}?status=Declined"
                                       style="text-decoration: none">Declined ({{ count_declined }})</a></p>
                                <p class="card-text">
                                    <a class="text-dark"
                                       href="{% url 'files-project-logo' projectlogo.id %}?status=Final"
                                       style="text-decoration: none">Final ({{ count_final }})</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md me-2 my-2">
                        <div class="row gy-4">
                            {% if files %}
                                {% for project_logo_file in files %}
                                    <div class="col-lg-2">
                                        <div class="card mb-3 shadow" style="min-width: 150px">
                                            <a href="{% url 'detail-project-logo-files' projectlogo.id project_logo_file.id %}">
                                                <img class="card-img-top"
                                                     src="{{ project_logo_file.project_file.url }}"
                                                     alt="Card image cap"></a>
                                            <div class="card-img-overlay"
                                                 style="pointer-events: none">{{ forloop.counter }}</div>
                                            <div class="card-footer">
                                                <span class="card-text">{{ project_logo_file.status }}</span>
                                                <div class="btn-group float-end">
                                                    {% if user.is_superuser %}
                                                        <button type="button" class="btn btn-outline-primary"
                                                                data-bs-toggle="tooltip" title="Delete file">
                                                            <a data-bs-toggle="modal" title="Delete"
                                                               data-bs-target="#projectfile_{{ project_logo_file.id }}">∇</a>
                                                        </button>
                                                    {% else %}
                                                        {% if project_logo_file.project_final_file %}
                                                            <a href="{{ project_logo_file.project_final_file.url }}"
                                                               class="btn btn-outline-primary float-end" download
                                                               data-bs-toggle="tooltip" title="Download">∇</a>
                                                        {% elif project_logo_file.project_file %}
                                                            <a href="{{ project_logo_file.project_file.url }}"
                                                               class="btn btn-outline-primary float-end" download
                                                               data-bs-toggle="tooltip" title="Download">∇</a>
                                                        {% endif %}
                                                    {% endif %}
                                                    <a href="{% url 'update-project-logo-files-c' project_logo_file.id %}"
                                                       class="btn btn-outline-primary float-end"
                                                       data-bs-toggle="tooltip" title="Change status">Δ</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- dropdown delete modal section -->
                                        <div class="modal fade" id="projectfile_{{ project_logo_file.id }}"
                                             tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h5 class="modal-title col-md-6 offset-md-3"
                                                            id="exampleModalLabel">
                                                            Delete</h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        Are you sure you want to delete
                                                        file?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="col">
                                                            <span class="float-start">
                                                                <button type="button"
                                                                        class="btn btn-outline-primary"
                                                                        data-bs-dismiss="modal"
                                                                        style="width: 100px">No</button>
                                                            </span>
                                                            <span class="float-end">
                                                                <a href="{% url "delete-project-logo-file-modal" project_id=projectlogo.id pk=project_logo_file.id %}"
                                                                   class="btn btn-outline-danger"
                                                                   style="width: 100px">Yes</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="card mb-4" style="min-width: 140px">
                                    <div class="card-header text-center border border-0">
                                        <h3 class="card-text">No files found</h3>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}