{% block title %}
{% endblock %}

{% block content %}

    <h3>Hello {{ new_user.first_name }}!</h3>
    <h3>Welcome! You're now a part of an awesome global community of people.</h3>
    <h3>Your username is: {{ new_user.username }}.</h3>
    <h3>Once you've signed in, you can visit your profile, where you can complete your bio.</h3>
    <h3>Where to begin?</h3>
    <h3>Browse through my portfolio and ready-made logos.</h3>
    <h3>When you are ready for your awesome logo just send me a message.</h3>
    <h3>See you soon,</h3>
    <h3>Ciprian</h3>

{% endblock %}