{% extends 'base.html' %}
{% load static %}

{% block title %}
    Canceled projects
{% endblock %}

{% block content %}
    <main role="main">
        <!-- Services section -->
        <section>
            <div class="container-fluid">
                <div class="row m-4 p-4">
                    <div class="col mx-auto">
                        <h1 class="text-center">CANCELED PROJECTS</h1>
                        <p class="text-center">These are your canceled projects</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col me-2 my-2">
                        {% for project_logo in all_canceled_projects %}
                            <div class="card mb-4" style="min-width: 140px">
                                <div class="card-header text-center bg-secondary bg-opacity-50">
                                    <h3 class="card-text">{{ project_logo.project_name }}</h3>
                                </div>
                                <div class="card-body overflow-hidden">
                                    <div class="row">
                                        <div class="col-2 m-2" style="min-width: 140px;min-height: 140px">
                                            <div class="card">
                                                <a href="{% url 'detail-project-logo' project_logo.id %}">
                                                    {% if project_logo.optional_project_image_1 %}
                                                        <img class="card-img"
                                                             src="{{ project_logo.optional_project_image_1.url }}"
                                                             alt="Card image cap">
                                                    {% else %}
                                                        <img class="card-img"
                                                             src="{% static 'images/CiprianM_Brand.png' %}"
                                                             alt="Card image cap">
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col m-2">
                                            <p class="card-text">Logo name: {{ project_logo.logo_name }}.</p>
                                            <p class="card-text">Project
                                                description: {{ project_logo.project_description }}</p>
                                            <p class="card-text">Click on the image to view all details.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}